@model IEnumerable<WebProje.Models.Login>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Kullanıcıları</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <header>
        <nav class="sidebar">
            <div>
                <h2 style="color:cornflowerblue; text-align:center;">HAYVAN BARINAĞI</h2>
                <br /><br />
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="fa-solid fa-cat sidebarField" asp-area="" asp-controller="Admin" asp-action="Index"><span>Sahiplenme Istek</span></a>
                        </li>
                        <br />
                        <li class="nav-item">
                            <a class="fa-solid fa-dog sidebarField" asp-area="" asp-controller="Admin" asp-action="Admin_Kabul"><span>Kabul Istekleri</span></a>
                        </li>
                        <br />
                        <li class="nav-item">
                            <a class="fa-solid fa-cat sidebarField" asp-area="" asp-controller="Admin" asp-action="Admin_Users"><span>Kullanicilar</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="table-container">
        <h2>Kullanıcı Listesi</h2>
        <table>
            <thead>
                <tr>
                    <th>Kullanıcı ID</th>
                    <th>Kullanıcı Adı</th>
                    <th>İsim</th>
                    <th>Soyisim</th>
                    <th>E-mail</th>
                    <th>Telefon</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.User_ID)</td>
                    <td>@Html.DisplayFor(modelItem => item.User_Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.First_Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Last_Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.E_Mail)</td>
                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>

